
$list: str-split($category_list, unquote("|"));

$selector_row: str-split($category_breadcrumb, unquote("|"));

.category-breadcrumb {
  @each $selector in $selector_row {
    .category-row[data-name="#{$selector}"] {
      display: none;
    }
  }
}



.category-list {
  @each $list_item in $list {
    [data-category-id="#{$list_item}"] {
      display: none;
    }
  }
}




@if $categories_and_channels !="" {

  @each $item in $list {

    $item: str-to-list("#{$item}", ";");
    $nested-list: append($nested-list, $item);
  }

  @each $lock-icon, $iconID in $nested-list {

    .search-menu .results .restricted,
    .category-drop [data-value="#{$iconID}"] .restricted,
    [href^="/chat/c/#{$lock-icon}"],
    [href^="/c/#{$lock-icon}"] {
      .d-icon-lock {
        display: none;
      }
    }
  }
}


.category-boxes {
  @each $box in $boxes {
    [data-category-id="#{$box}"] {
      display: none;
    }
  }
}

.category-boxes-with-topics {
  @each $topic_box in $topic_boxes {
    .category-box-#{$topic_box} {
      display: none;
    }
  }
}


