$boxes: str-split($category_boxes_with_subcategories, unquote("|"));
$topic_boxes: str-split($category_boxes_wih_featured_topics, unquote("|"));
$list: str-split($category_list, unquote("|"));

.category-boxes {
  @each $box in $boxes {
    [data-category-id="#{$box}"] {
      display: none;
    }
  }
}

.category-boxes-with-topics {
  @each $topic_box in $topic_boxes {
    .category-box-#{$topic_box} {
      display: none;
    }
  }
}

.category-list {
  @each $list_item in $list {
    [data-category-id="#{$list_item}"] {
      display: none;
    }
  }
}
