$hamburger: str-split($category_hamburger, unquote("|"));

.hamburger-panel .category-links {
  @each $link in $hamburger {
    .category-link.category-#{$link} {
      display: none;
    }
  }
}

@if $hide_all_subcategories_in_hamburger == "true" {
  .hamburger-panel .category-link.subcategory {
    display: none;
  }
}

@if $hide_all_subcategories_in_category_list == "true" {
  table.category-list {
    .subcategories,
    .subcategories-with-subcategories {
      display: none;
    }
  }
}
