$boxes: str-split($category_boxes_with_subcategories, unquote("|"));
$list: str-split($category_list, unquote("|"));

.category-list {
  @each $box in $boxes {
    [data-category-id="#{$box}"] {
      display: none;
    }
  }
}

.category-list {
  @each $list in $category_list {
    [data-category-id="#{$list}"] {
      display: none;
    }
  }
}
